* {
  list-style: none;
  text-decoration: none;
  font-family: 'roboto', sans-serif; }

a {
  color: #000000; }

img {
  width: 100%; }

.loader__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 3; }

.loader__bg:before, .loader__bg:after {
  content: '';
  position: absolute;
  animation: fadeOut 2s linear infinite;
  opacity: 0; }

.loader__bg:before {
  animation-delay: 4s; }

@keyframes fadeOut {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

.loader {
  z-index: -1;
  width: 50%;
  height: 50%;
  position: absolute;
  max-width: 300px; }

.headerMenu {
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 16px #000000a2; }

.backspace {
  position: absolute;
  left: 5%;
  top: 4%; }

.headerMenu__logoWrapper {
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px; }

.headerText {
  background-color: #f5f5f5ec;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  text-align: center; }
  .headerText h1 {
    font-size: 18px;
    text-align: center;
    font-weight: bold; }
  .headerText p {
    font-size: 14px;
    text-align: center; }
  .headerText__btn {
    top: 80%;
    padding: 13px;
    font-size: 14px;
    color: white;
    background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
    box-shadow: 0 0 16px #0f0f0f5b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 300ms;
    transition: box-shadow 250ms; }
    .headerText__btn:hover {
      box-shadow: 0 0 16px #00000088;
      filter: brightness(1.15); }

.headerMenu {
  display: flex;
  background-color: #fff; }

.headerMenu__icon__wrapper {
  background-color: #e2e1e1d8; }

.headerMenu__icon {
  display: flex;
  position: relative;
  align-items: center; }
  .headerMenu__icon p {
    position: relative;
    font-size: 14px;
    left: 40%; }
  .headerMenu__icon i {
    position: relative;
    left: 35%; }

.function__title {
  margin: 20px;
  margin-top: 35px;
  font-weight: bold;
  font-size: 18px; }

.rule {
  display: flex;
  align-items: center;
  margin: 15px; }
  .rule span {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5ec;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 0 10px #a3a3a373;
    font-weight: bold;
    margin-left: -5px;
    z-index: -1; }
    .rule span i {
      margin-right: 5px;
      color: grey; }
  .rule p {
    color: #fff;
    background-color: #9356dc;
    border-radius: 50%;
    padding: 2px;
    width: 20px;
    text-align: center;
    z-index: 1; }

.rest {
  margin-top: 80px;
  background-color: #f5f5f5ec;
  padding-bottom: 10px; }

.rest__title {
  margin: 20px;
  padding-top: 60px;
  font-weight: bold;
  font-size: 18px; }

.rest__img {
  margin-top: 25px; }

.restCard {
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 0 10px #a3a3a373;
  padding-bottom: 10px;
  transition: transform 400ms; }
  .restCard:hover {
    transform: scale(1.01); }
  .restCard img {
    border-radius: 20px 20px 0 0;
    height: 125px;
    object-fit: cover; }
  .restCard figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .restCard figcaption h3 {
      font-size: 16px;
      margin: 5px;
      margin-left: 10px; }
    .restCard figcaption p {
      font-size: 14px;
      margin: 5px;
      margin-left: 10px; }
    .restCard figcaption .restCard__icon {
      font-size: 25px;
      margin-right: 5%; }

.restCard__new {
  position: absolute;
  right: 5px;
  top: 5px; }
  .restCard__new p {
    background-color: #99e2d0;
    color: #1c9965;
    padding: 5px; }

.restCard {
  position: relative; }

.header__img {
  height: 217px; }
  .header__img img {
    height: 217px;
    object-fit: cover; }

.menuTitle {
  display: flex;
  position: relative;
  bottom: 49px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 50px 50px 0 0; }

.menu__title {
  display: flex;
  font-size: 14px;
  letter-spacing: .5px;
  align-items: center;
  margin-left: 15px;
  font-weight: normal;
  border-bottom: solid 2px #99e2d0;
  max-width: 40px; }

.menuTitle__title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 5%;
  top: 20px; }

.menuTitle__icon {
  position: relative;
  right: 10%;
  font-size: 40px;
  top: 20px; }

.menuCard {
  position: relative;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px #a3a3a373;
  border-radius: 15px;
  padding: 25px; }
  .menuCard__title {
    position: absolute;
    top: -30%;
    left: 5%;
    font-size: 14px;
    font-weight: bold; }
  .menuCard__text {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 180px; }
  .menuCard__price {
    position: absolute;
    right: 5px;
    top: 5%; }

.restCard__icon--empty {
  position: relative;
  z-index: 1;
  cursor: pointer; }

.restCard__icon--filled {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition: .5s ease;
  animation-timing-function: cubic-bezier(0.06, 0.7, 0.9, 0.28); }

.restCard__icon--empty:hover .restCard__icon--filled {
  transform: scale(1);
  opacity: 1; }

.restCard__icon--empty:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.main {
  position: relative; }

.btn__wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; }

.btn {
  position: relative;
  margin: 15px;
  padding: 13px;
  font-size: 14px;
  color: white;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 0 16px #0f0f0f5b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: filter 300ms;
  transition: box-shadow 250ms; }
  .btn:hover {
    box-shadow: 0 0 16px #00000088;
    filter: brightness(1.15); }

.menu .menuCard {
  opacity: 0;
  animation: transition-delayed .5s forwards; }

.menu .menuCard:nth-child(1) {
  animation-delay: .1s; }

.menu .menuCard:nth-child(2) {
  animation-delay: .2s; }

.menu .menuCard:nth-child(3) {
  animation-delay: .3s; }

.menu .menuCard:nth-child(4) {
  animation-delay: .4s; }

.menu .menuCard:nth-child(5) {
  animation-delay: .5s; }

.menu .menuCard:nth-child(6) {
  animation-delay: .6s; }

@keyframes transition-delayed {
  100% {
    opacity: 1; } }

.footer {
  background-color: #2b2b2b; }

.footer__container {
  padding: 20px; }

.footer__logo {
  width: 100px;
  filter: invert(100%);
  margin-bottom: 10px; }

.footer__column {
  display: flex;
  flex-direction: column; }
  .footer__column i {
    font-size: 12.5px;
    margin-right: 10px; }
  .footer__column .fa-hands-helping {
    font-size: 10px; }
  .footer__column a {
    color: #fff;
    margin-top: 10px; }
