* {
  list-style: none;
  text-decoration: none;
  font-family: 'raleway', sans-serif; }

img {
  width: 100%; }

.headerMenu__logo {
  width: 50%; }

html {
  background-color: #d6cecea1; }

a {
  color: #000000; }

.menu__title {
  display: flex;
  align-items: center; }

.menuTitle__icon {
  font-size: 40px; }

.restCard__icon--empty {
  position: absolute; }

.restCard__icon--filled {
  position: relative; }

.rule {
  display: flex;
  align-items: center; }

.headerMenu {
  display: flex;
  align-items: center;
  background-color: #fff; }

.headerMenu__icon {
  display: flex;
  align-items: center; }

.footer__logo {
  width: 50%; }

.restCard {
  max-width: 700px; }
