@media screen and (min-width:600px) {
  body{
    max-height: 1175px;
  }
  .backspace{
    font-size: 25px;
  }
  .headerText h1{
    font-size: 20px;
  }
  .headerText p{
    font-size: 16px;
  }
  .function__card{
    display: flex;
    justify-content: center;
  }
  .function{
    max-width: 1200px;
    margin: auto;
  }
  .rule{
    display: flex;
    margin: 15px;
    align-items: center;
    flex-direction: column;
  }
  .rule span{
    width: auto;
  }
  .rule p{
    position: relative;
    top: 25px;
  }
  .rest{
    max-width: 1200px;
    margin: auto;
  }
  .rest:before{
    content:"";
    background-color: #f5f5f5ec;
    position: absolute;
    height: 30%;
    width: 100%;
    left: 0%;
    z-index: -1;
  }
  .rest__img{
    display: flex;
  }
  .rest__img a{
    width: 30%;
  }
  .menu__title{
    margin-left: 21%;
    font-size: 18px;
  }
  .menuTitle__title{
    left: 21%;
    font-size: 35px;
  }
  .menuCard{
    max-width: 50%;
    padding: 30px;
  }
  .menuCard span{
    font-size: 22px;
    padding: 20px;
    right: -57px;
  }
  .menuCard:hover span{
    transform: translate(-57px)
  }
  .menuCard:hover .menuCard__price{
    transform: translate(-57px)
  }
  .menuCard__title{
    font-size:18px;
  }
  .menuCard__text{
    font-size: 16px;
    text-overflow: unset;
    width: 100%
  }
  .menuTitle__icon{
    font-size: 30px;
    right: 21%;
  }
  .footer{
    display: flex;
    justify-content: center;
  }
  .footer__logo{
    width: 300px;
  }
  .footer__column{
    display: flex;
    align-items: center;
  }
  .footer__container{
    padding: 30px;
  }
}